* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logotop {
    position: fixed;
    top: -20px;
    right: 10px;
    z-index: 10;
    width: 100px;
}

section {
    width: 100vw;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #b03421;
}

p {
    line-height: 1.5em;
    max-width: 600px;
}


/***** Billeder *****/

#gruppe ul {
    list-style: none;
}

#gruppe li {
    margin: 10px 0 10px 0;
}

#gruppe img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #00694d;
}

img {
    position: relative;
    margin: 0 auto;
    width: 80%;
}

#style img {
    margin-top: 20px;
    width: 100%;
    opacity: 1;
}

#ikon img {
    margin-top: 20px;
    width: 70%;
}

#ikon p {
    padding: 20px 40px 20px 40px;
}

#logo {
    width: 40%;
    height: auto;
}

#ikon h3 {
    padding: 20px 40px 20px 40px;
}

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
}

#test h3 {
    margin-top: 20px;
}

#test p {
    margin-left: 3vw;
}


/***** INDHOLD *****/

.sectionwrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;

    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-grow: 1;
    flex-basis: 300px;
    align-content: center;
    padding: 20px 40px 20px 40px;
}

h1 {
    background-color: #97eecf;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 15px;
    color: #00694d;
}

h2 {
    margin: 0;
    padding: 10px 40px 10px 40px;
}

h3 {
    font-size: 1.3em;
    padding: 0 0 10px 0;
}


/************* SECTION COLORS **************/

section#gruppe {
    background-color: #97eecf;
}

section#emp {
    background-color: #048b68;
    color: #c1e0d5;
}

section#def {
    background-color: #97eecf;
}

section#ide {
    background-color: #048b68;
    color: #c1e0d5;
}

section#proto {
    background-color: #97eecf;
}

section#benchmarking {
    background-color: #048b68;
    color: #c1e0d5;
}

section#end {
    background-color: #97eecf;
}

section#ikon {
    background-color: #048b68;
    color: #c1e0d5;
}

section#style {
    background-color: #97eecf;
}

section#test {
    background-color: #048b68;
    color: #c1e0d5;
}

#scrum {
    background-color: #97eecf;
    color: #048b68;
}

#gruppe h2,
#gruppe h3,
#def h2,
#def h3,
#proto h2,
#proto h3,
#end h2,
#end h3,
#style h2,
#style h3 {
    color: #00694d;
}

#emp h2,
#emp h3,
#ide h2,
#ide h3,
#benchmarking h2,
#benchmarking h3,
#ikon h2,
#ikon h3,
#test h2,
#test h3 {
    color: #C0D8D3;
}

/**************** MENU ****************/

.dropbtn {
    background-color: #048b68;
    margin: 5px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    cursor: pointer;
    background-position: top;
    z-index: -1;

}

/* Dropdown button on hover & focus */

.dropdown-content a:hover,
.dropdown-content a:focus {
    color: #202532;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: fixed;
    display: inline-block;
    z-index: 2;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #97eecf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: #048b68;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #00694d;
    color: white;
}
