/* Farvekoder:


Empathize: 4FC7E0;
Define: ACD484;
Ideate: F8A663;
Prototype: F17F65;
Test: DD6668;
Iterate: 5C95C9;

Lilla: D968B2;

*/

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
    margin-left: 0;
}

h1 {
    /* text-align: center;*/
    color: #048b68;
    margin-top: 0;
    margin-left: 15vw;
}

h2 {
    color: #048b68;
    margin-top: 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #202532;
}

* {
    font-family: sans-serif;
}

/* Dropdown Button */

.dropbtn {
    background-color: #048b68;
    color: #C0D8D3;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-position: top;
}

/* Dropdown button on hover & focus */

.dropdown-content a:hover,
.dropdown-content a:focus {
    color: #202532;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C0D8D3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: #048b68;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    font-family: 'renner*';
}

.dropdown:hover .dropdown-content {
    display: block;
}

/****** menu slut *****/

/******Titel ******/

#titel {
    text-align: center;
    position: relative;

}

/***** gruppe ********/

#gruppe {
    background-color: #C0D8D3;
}

#gruppe .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#gruppe .column1 {
    flex-grow: 1;
    flex-basis: 375px;
    margin: 10px;
    padding-left: 15vw;

}

#gruppe .column2 {
    flex-grow: 10;
    flex-basis: 375px;
    margin: 10px;
}

#gruppe .column2 a {
    width: 7vw;
    text-decoration: none;
}

/***** Empathize ***/

#emp {
    background-color: #048b68;
}

#emp h1 {
    color: #C0D8D3;
}

#emp h3 {
    margin-left: 15vw;
}

#emp img {
    width: 33%;
    margin-left: 15vw;
}

#emp p {
    width: 70vw;
    margin-left: 15vw;
}

#emp .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#emp .columna {
    flex-grow: 1;
    flex-basis: 375px;
    margin: 10px;
    max-width: 50vw;
}

#emp .columnb {
    flex-grow: 10;
    flex-basis: 375px;
    max-width: 40vw;
}

/***** Empathize slut***/

/***** Define/Målgruppe *********/

#def {
    background-color: #C0D8D3;
}

#def h3 {
    margin-left: 15vw;
}

#def p {
    margin-left: 15vw;
}

#def img {
    margin-left: 15vw;
}

#def p {
    width: 70vw;
}

/***** Define/Målgruppe *********/

/***** Ideate *****/

#ide {
    background-color: #048b68;
}

#ide h1 {
    color: #C0D8D3;
}

#ide a {
    color: #C0D8D3;
}

#ide h2 {
    color: #C0D8D3;
    margin-left: 15vw;
    margin-top: 15px;
}

#ide h3 {
    margin-left: 15vw;
}

#ide h4 {
    margin-left: 15vw;
}

#ide p {
    width: 80vw;
    margin-left: 15vw;
    margin-bottom: 0;
    padding-bottom: 15px;
}

/***** Ideate slut *****/

/***** Prototype test ****/

#proto {
    background-color: #C0D8D3;
}

#proto h3 {
    color: #048b68;
    margin-left: 15vw;
}

#proto iframe {
    margin-left: 15vw;
}

/***** Prototype test slut ****/

/**** benchmarking *******/

#benchmarking {
    background-color: #048b68;
}

#benchmarking h1 {
    color: #C0D8D3;
}

#benchmarking p {
    color: #C0D8D3;
    margin-left: 15vw;
    margin-bottom: 0;
    padding-bottom: 15px;
}

/*********** Endelig idé *********/

#end {
    background-color: #C0D8D3;
}

#end a {
    color: #048b68;
    margin-left: 15vw;
}

#end h3 {
    color: #048b68;
    margin-left: 15vw;
}

#end iframe {
    margin-left: 15vw;
}
